.navbar-energy {
    background-color: #f4f4f8 !important;
    padding: 0;
}

.btn-menu {
    border: none !important;
    color: #00ba2f!important;
}

.btn-menu:hover{
    background-color: transparent !important;
    color: #333!important;
}